<% include common/header %>
<% include common/nav %>
<% include common/banner %>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <% include common/carousel %>
        </div>

        <div class="col-md-4 col-sm-4">
            <% include common/tabList %>
        </div>
    </div>
    <div class="row line">
        <h3>旅行必备<small><a href="javascript:void(0)" style="margin-left: 15px;">更多</a></small></h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="images/logo.png" width="100%">
                <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                <font color="#b22222">&yen; 899</font>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="images/logo.png" width="100%">
                <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                <font color="#b22222">&yen; 899</font>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="images/logo.png" width="100%">
                <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                <font color="#b22222">&yen; 899</font>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="images/logo.png" width="100%">
                <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                <font color="#b22222">&yen; 899</font>
            </div>
        </div>

    </div>
    <div class="row line">
        <h3>攻略信息<small><a href="javascript:void(0)" style="margin-left: 15px;">更多</a></small></h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="images/logo.png" class="img-responsive">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/logo.png" width="100%">
                        <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                        <font color="#b22222">&yen; 899</font>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/logo.png" width="100%">
                        <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                        <font color="#b22222">&yen; 899</font>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/logo.png" width="100%">
                        <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                        <font color="#b22222">&yen; 899</font>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/logo.png" width="100%">
                        <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                        <font color="#b22222">&yen; 899</font>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/logo.png" width="100%">
                        <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                        <font color="#b22222">&yen; 899</font>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/logo.png" width="100%">
                        <p>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</p>
                        <font color="#b22222">&yen; 899</font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>