<% include login %>
<% include register %>
<% include modal %>
<div class="footer">
    <div class="container">
        Copyright &copy <%= new Date().getFullYear() %> 畅游攻略平台 
    </div>
</div>
<!--返回顶部-->
<div class="xiangshang" id="xiangshang" title="返回顶部"></div>
<script src="js/web/main.js"></script>
</body>
</html>

