<% include ../common/header %>
<% include ../common/nav %>
<% include ../common/banner %>
<div class="container">
    <div class="row">
        <ol class="breadcrumb shadow-frame">
            你现在正在浏览：
            <li><a href="/">首页</a></li>
            <li class="active">我的</li>
        </ol>
    </div>
    <div class="row personInfo">
        <img src="<%= session.avatar|| 'images/default.jpg' %>" title="<% session.username %>"/>
        <input type="file" accept="image/*" class="uploadFile" name="Avatar" value=""/>
        <div class="imgTip">点击头像进行上传</div>
        <span class="label label-danger"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<%= session.username||'某某' %></span>
        <span class="label label-info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<%= session.email||'xxxxxxx@qq.com' %></span>
        <button type="button" class="btn btn-primary" style="margin:20px 0px;">保存更改</button>
    </div>
</div>
<script src="js/personal.js"></script>
<% include ../common/footer %>