<% include ../common/header %>
<% include ../common/nav %>
<% include ../common/banner %>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ol class="breadcrumb shadow-frame">
                你现在正在浏览：
                <li><a href="/">首页</a></li>
                <li class="active">攻略信息</li>
            </ol>
            <% include ../common/strategyList %>
        </div>
    </div>
</div>
<% include ../common/footer %>